
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5rem;
}

.checkbox {
  background-color: white;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.checkboxTitle {
  display: inline-block;
  font-size: 0.8rem;
  vertical-align: middle;
}

.confirmationMessage {
  font-size: 0.8rem;
}

.fade-wrapper {
  transition:opacity ease-in-out;
}
.fade-out {
  opacity:0;
}
.fade-in {
  opacity:1;
}

.labelConfMessageDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.3rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.passwordInput {
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  height: 2rem;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  width: 30rem;
}

.showPasswordContainer {
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-right: 0.5rem;
  padding: 0 0.2rem;
  width: 3.6rem;
}

input[type=submit] {
  background-color: #F07100;
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  height: 2.2rem;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
}

input[type=submit]:focus, input[type="checkbox"]:focus, input:focus {
  outline: none;
}

p {
  margin: 0;
}
