
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.checkbox {
  margin-right: 0.3rem;
  vertical-align: middle;
}
.checkboxTitle {
  display: inline-block;
  font-size: 0.8rem;
  vertical-align: middle;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main {
  min-height: 100vh;
}

.passwordInput {
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  height: 2rem;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  width: 30rem;
}

.showPasswordContainer {
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  display: flex;
  flex-direction: row;
  height: 2rem;
  margin-right: 0.5rem;
  width: 4rem;
}

p {
  margin-bottom: 0.3rem;
}

button, input[type=submit] {
  border-radius: 0.3rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

button {
  background-color:#d3d3d3;
}

input[type=submit] {
  background-color: #F07100;
}
