.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #F07100;
  margin-right: 0.3rem;
}