
.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "\2022";
  color: #F07100;
  margin-right: 0.3rem;
  text-decoration: "";
}

ul li {
  padding: 0.5rem 0;
}